.brand-logo{
  margin-left: 8px;
}

body{
  background-color: #f3f9f8;
}

.brand-logo {
  display: flex;
  align-items: center;
}

#brand-logo-img{
  margin: 5px 0;
  height: 50px;
  border-radius: 50%;
}

.footer-copyright{
  background-color: #00838f;
}

.sidenav-overlay{
  background-color: transparent;
}

.slider .indicators .indicator-item.active{
  background-color: #00838f;
}

.card-image{
  height: 375px;
  overflow: visible;
}

.slider{
  margin-top: -23px;
}

.card{
  margin: 40px 5px;
}

#signin-form-container{
  width: 38%;
}

#login-btn{
  background-color: #00838f;
  margin-top: 0.5em;
  margin-left: 5.3em;
  position: relative;
}

@media (min-width: 900px) {
  #login-btn{
    background-color: #00838f;
    margin-top: 0.5em;
    margin-left: 13em;
    position: relative;
  }
}