#all node packages
projbackend/node_modules/
projfrontend/node_modules/

#environment variables
projbackend/.env
projfrontend/.env

#all external assets
assets

#local IDE settings
projbackend/.vscode